@import "@styles";

.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: $layout-background;

    &::after {
        background-color: transparent;

        transition: background-color 0.3s;
    }

    &[data-open=true] {
        overflow-y: hidden;

        // &::after {
        //     background-color: $primary;
        //     z-index: 10;
        //     height: 100%;
        //     width: 100%;
        //     left: 0;
        //     bottom: 0;
        //     opacity: 0.6;
        //     position: absolute;
        //     content: '';
        // }
    }
}

.main {
    flex-grow: 1;
}