@import '@styles';

.wrapper {
    padding-top: 40px;
    color: $white;
    height: 100vh;

    background-image: url('../../../../public/images/about-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    @include title;
    padding-top: 40px;
}

.subtitle {
    font-size: 36px;
    margin-bottom: 20%;
    margin-top: 60px;
}

.goal {
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 10px;
}

.flex {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding-top: 64px;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        height: 5px;
        width: 100%;
        background-color: $primary;
        top: 0;
        left: 0;
        border-radius: 2px;
    }

    @media (max-width: 600px) {
        flex-direction: column;
        align-items: center;

    }
}

.text {
    max-width: 50%;
    font-size: 20px;
    // background-color: black;
    // padding: 20px;
    // border-radius: 15px;

    @media (max-width: 600px) {
      max-width: 100%;  
    }
}

.image {
    border-radius: 20px;
}