@import "@styles";

.slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide_wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.slide_image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100vh;
}

.slide_bg {
    position: absolute;
    max-width: 1700px;
    width: 100%;
    max-height: 100vh;
    top: -15%;
}

.image {
    height: auto;
    max-height: 100vh;
    width: 100%;
}

.image_logo {
    position: absolute;
    right: 0;
    width: 800px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    @media (max-width: 1200px) {
        width: 600px;
    }
    @media (max-width: 1000px) {
        width: 400px;
    }
    @media (max-width: 800px) {
        display: none;
    }
}

.bar_wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 11;
}

.autoplay_bar {
    width: 100vw;
    height: 5px;
    background-color: $primary;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        height: 5px;
        background-color: aqua;
        left: 0;
        top: 0;
        animation-name: changeWidth;
        animation-duration: 10000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

@keyframes changeWidth {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.info {
    background-color: $primary;
    display: flex;
    flex-direction: column;
    position: absolute;
    color: $white;
    padding: 20px;
    top: 50%;
    transform: translateY(-50%);

    @media (max-width: 550px) {
        padding: 10px;
    }
}
.info_two {
    right: 0;
}
.info_three {
    left: 0;
}

.group {
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 5px;

    span {
        font-size: 20px;
    }

    @media (max-width: 550px) {
        font-size: 35px;

        span {
            font-size: 15px;
        }
    }
}