@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0e0e0e;
  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: #0e0e0e;
  color: #ffffff;
  margin: 0;
}
