// $primary: #975ded;
$primary: #8A60C8;
$purple-background: #f5f3ff;
$contacts-title: #fff;
$layout-background: #000;
$secondary: #7A99D6;
$white: #fff;
$black: #000;
$heading-color: #251e45;
$muted: #76728a;
$border: #d0cce4;


$btn-radius: 1.3rem;
$block-radius: 1.3rem;