@import "@styles";

.wrapper {
    padding-top: 80px;
}

.title {
    @include title;
}

.items {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    justify-content: center;
    gap: 40px;
}